<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title></title>
	<script type="text/javascript" src="../node_modules/angular/angular.js"></script>
	<style type="text/css">
		.active{color: red}
	</style>
</head>
<body>
	<ul ng-controller="haha">
		<li ng-controller="hehe"  ng-repeat="(name,value) in listdate" class="{{$even?'active':''}}" ng-click="toggle()" ng-switch on="isSelected()">{{name}}:{{value}}<b ng-switch-when="true">哈哈</b></li>
		<div >aaaaaaaaa</div>
		<dir ng-repeat-end></dir>
	</ul>
	<script>
		var myApp=angular.module('myApp',[]);
		myApp.controller('haha', ['$scope', function($scope){
			$scope.listdate={
				a:111,
				b:222,
				c:333
			}

			
			$scope.list2={}
		}])
		
		myApp.controller('hehe', ['$scope', function($scope){
			
			$scope.isSelected=function(value){
				
				return $scope.selected
			}

			$scope.toggle=function(){
				$scope.selected=!$scope.selected
			}
		}])
	</script>
</body>
</html>