<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<script type="text/javascript" src="lib/vue.js"></script>
</head>
<body>
	<div id="test">
		<select v-model="selected">
			<option v-for="option in options" v-bind:value="option.value">
				{{option.text}}
			</option>
		</select>
		<span>Selected:{{selected}}</span>
		<input v-model="phone" number debounce="500">
	</div>
	<script type="text/javascript">
		var vw=new Vue({
			el:"#test",
			data:{
				selected:"A",
				options:[
					{text:'One',value:'A'},
					{text:'Two',value:'B'},
					{text:'Three',value:'C'}
				],
				phone:0
			}
		})
	
	</script>
</body>
</html>